<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stop_and_flight">
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stop_and_flight">
        <activity android:name=".LoginMethodActivity"></activity>
        <activity android:name=".JoinSNSNickname" />
        <activity android:name=".IntroActivity">
          <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AppGuide" />
      <activity android:name=".MainActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".select_signup_method" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FilghtActivity">
            <intent-filter>
                <action android:name="android.intent.action.FLIGHTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="Accessibility"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <receiver android:name="AlarmReceiver" >
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>